<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/admin.css">
    <script src="https://use.fontawesome.com/8b70c06b18.js"></script>
    <title>Admin Dashboard</title>
</head>

<body>
    <!-- Sidebar Menu -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="user-info">
                    <a href="#" class="clearfix">
                        <div class="user-avatar">
                            <img width="50px" src="./assets/img/boy_1544603222.png" alt="avatar">
                        </div>
                        <div class="user-meta" style="margin-top: 20px">
                            <div class="inner">
                                <div class="user-name">
                                    Tuấn Tú
                                </div>
                                <div class="user-verify font-weight-bold" style="color: #555; font-size: 0.9rem;">
                                    Admin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý sản phẩm </a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Thêm sản phẩm</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý người dùng</a></li>
                </ul>
            </nav>

            <!-- Thông tin tài khoản -->
            <main role="main" class="ml-sm-auto col-md-10" style="margin-top: 20px">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, Admin</h1>
                </div>

        </div>
        </main>
    </div>
    </div>
</body>