.sidebar{
    position: fixed;
    top: 0px;
    bottom: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.user-info{
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.user-info .user-avatar{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    background: #eee;
}

.user-info .user-meta{
    margin-left: 60px;
    min-height: 60px;
    align-items: center;
    display: flex;
    color: initial;
}

.user-info .user-name{
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    list-style: none;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 15px;
    margin-left: -20px;
    padding: 0 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
